[Unit]
Description=AccessMap Live Database Updater

[Service]
Environment=DATABASE_URL=<>

ExecStart=source venv/bin/activate && python run.py
WorkingDirectory=</path/to/accessmap-live/repo>
Restart=always
RestartSec=10                       # Restart service after 10 seconds if node service crashes
StandardOutput=syslog               # Output to syslog
StandardError=syslog                # Output to syslog
SyslogIdentifier=accessmap-live
User=<youruser>

[Install]
WantedBy=multi-user.target
