[Unit]
Description=AccessMap Live Database Updater

[Service]
Environment=DATABASE_URL=<>

ExecStart=source venv/bin/activate && python run.py
WorkingDirectory=</path/to/accessmap-live/repo>
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=accessmap-live
User=<youruser>

[Install]
WantedBy=multi-user.target
